.recipes {
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a2750;
  font-family: "Noto serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding: 100px 80px 216px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: auto 0;
}

.recipes__subtitle {
  padding: 24px 0px 80px 0px;
  max-width: 438px;
  margin: 0px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  display: block;
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
